# Exemple de fichier de variables locales pour l'environnement de production.
# Copiez ce fichier en terraform.tfvars et renseignez vos vraies valeurs.

nutanix_image_uuid             = "11111111-2222-3333-4444-555555555555"
nutanix_username                = "your-username"
nutanix_password                = "your-password"
nutanix_endpoint                = "https://your-prod-prism-endpoint:9440"
nutanix_cluster_uuid            = "aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee"
nutanix_subnet_uuid             = "ffffffff-0000-1111-2222-333333333333"
existing_subnet_ext_id          = ""
nutanix_storage_container_uuid  = "99999999-aaaa-bbbb-cccc-dddddddddddd"
nutanix_port                    = 9440
nutanix_insecure                = true

vms = {
  # HDVPROD01 = {
  #   description = "Machine virtuelle de production"
  # }
}
